.whole-container{
  display :flex;
  background-color: rgb(253, 230, 253);
}
.image-container img{
  height:700px;
  width: 700px;
  border-right: solid 1px pink;
  margin-right: 2cm;
  padding-right: 2cm;
  margin-top: 20px; 
}
.form-container{
margin-top: 100px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input[type=text], input[type=password],input[type=email]{
  padding: 20px;
  margin: 2px;
  border: 1px solid black;
  width: 390px;
}
.name-container {
  display: flex;
}
  .input[type=text], input[type=password],input [type=text]input[type=email]{
    padding: 25px;
    margin: 2px;
    border: 1px solid black;
    width: 500px;
    color: white;
}
.heading{
  color: purple;
  text-align: center;
  margin-top: 60px;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.name{
  display:flex;
  gap: 3px;
  padding-top: 23px;
  width: 140px;
}
.submitbutton{
  background-color:purple;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 98%;
  opacity: 0.7;
}
.submitbutton:hover{
  opacity:1;
}
.or-lines{
  position: relative;
  max-width: 400px;
  margin: 40px auto;
  text-align: center;
  color: black;
}
.or-lines:before{
  content:" ";
  height: 2px;
  width: 180px;
  background:purple;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}
.or-lines:after{
  content:" ";
  height: 2px;
  width: 180px;
  background: purple;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
#name{
padding: 15px;
margin: 2px;
border: 1px solid black;
width: 165px;
color: white;
}
.image.container{
  border-right: solid 1px pink;
  margin-right: 2cm;
  padding-right: 2cm;
}
#eye-1{
  position: absolute;
  top: 380px;
  right: 670px;
}
#eye{
  position: absolute;
  top: 455px;
  right: 670px;
}
.sociali-cons{
display: flex;
}
.icons{
  display: flex;
  top: 100px;
  margin: 15px;
  justify-content: center;
  gap: 100px;
}



 



      
      
      